body{
  margin: 0;
  font-family: Gilroy;
}

a{
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

button{
    text-transform: uppercase;
    background-color: black;
    border: 0;
    padding: 12px;
    font-family: Gilroy;
    color: white;
    font-family: 14px;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
  
}

button:hover{
  background-color: gray;
}

/* Header */

.logo{
  max-width: 100%;
  height: auto;
}
header{
  height: 64px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid #E4E7EC;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 20;

}

.mobile-header{
  display: none;
}

header div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header-placeholder{
  position: sticky;
  top: 0;
  z-index: 100;
}

header ul{
  display: flex;
  list-style: none;
  gap: 16px;
  padding: 0;
  margin: 0;
  height: 100%;
}

header ul li{
  padding: 0;
  font-size: 12px;
  color: black;
}

.social-media{
  display: flex;
  align-items: center;
}

/* Underline Animation for header items */
.header-item {
  display: flex;
  position: relative;
  padding-bottom: 1px;
  font-size: 12px;
  color: black;
  align-items: center;
  height: 100%;
}

.header-item a {
  color: black;
  text-decoration: none;
  height: 100%;
}

/* Default state for the underline */
.header-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px; /* Thickness of the underline */
  width: 100%;
  background-color: black; /* Customize underline color */
  transform: scaleX(0); /* Start with the underline hidden */
  transform-origin: left; /* Scale from left to right */
  transition: transform .3s ease-in-out; /* Smooth transition */
  opacity: 1;
}

/* Hover state for the underline */
.header-item:hover::after {
  transform: scaleX(1); /* Full width on hover */
}

/* Always show underline for active item */
.header-item.active::after {
  transform: scaleX(1); /* Full width */
}


nav{
  height: 100%;
}



/* Index */
.hero-section{
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.hero-div{
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-div button{
  position: absolute;
  background-color: white;
  border: 0;
  font-family: gilroy;
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px 32px 8px 32px;
  white-space: nowrap;
  line-height: 1.25rem;
  height: 2.75rem;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Projekt */
.grid-container {
  display: grid;
}

.grid-row:nth-child(odd) {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2-column layout for odd rows */
}

.grid-row:nth-child(even) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3-column layout for even rows */
}

.grid-item {
  padding: 0px;
  text-align: center;
  border-right: 1px solid white;
  border-bottom: 1px solid white;  
}

.grid-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contact */

.contact-page-div{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    gap: 20px;
}

.contact-page-div h1{
  margin: 0;
}

.contact-information{
  width: 100%;
  padding-left: 30px;
  border-left: 1px solid rgb(231 229 228);
  box-sizing: border-box;
}

.contact-page-div-inner{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
.contact-form{
  display: flex;
  gap: 20px;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}
.form-div{
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 150ms;
  display: flex;
  align-items: center;
  border: 1px solid rgb(231 229 228);
}

.form-div input,
.form-div textarea{
  padding: 12px 12px 12px;
  box-sizing: border-box;
  color: black;
  font-family: Gilroy;
  border: 0;
  width: 100%;
  font-size: 14px;
}

.form-div textarea{
  height: 100px;
  resize: none;
}

#name{
  text-transform: capitalize;
}

.form-div input::placeholder,
.form-div textarea::placeholder{
  color: rgb(102 112 133)
}

.submit{
  text-transform: uppercase;
  background-color: black;
  border: 0;
  padding: 12px;
  font-family: Gilroy;
  color: white;
  font-size: 14px;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.submit:hover{
  background-color: gray;
}

/* Tekniker */
.tekniker{
  display: grid;
  grid-template-columns:  1fr 1fr;
  gap: 40px;
  padding: 40px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.tekniker h1{
  margin: 0;
}
.tekniker2{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  gap: 20px;
  padding: 40px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.tekniker.last{
  padding-bottom: 40px;
}

.tekniker div p{
  font-size: 25px;
}

.grid-item-techniques {
  background-color: transparent;
  padding: 0px;
  text-align: left;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.grid-item-techniques img{
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* About us */
.about-us{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  box-sizing: border-box;
  justify-content: space-between;
}

.about-us img{
  aspect-ratio: 2 / 3;
  width: 100%;
}

.about-us-outer{
  display: grid;
  grid-template-columns:  1fr 1fr;
}

.about-us-grid{
  padding: 40px;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 20px; */
  column-gap: 20px;
}

.grid-item-about img{
  width: 100%;
  height: 100%;
  aspect-ratio: 2 / 3;
}

.about-us p{
  font-size: 18px !important;
}

.about-us h1{
  margin: 0 !important;
}

.image-container-about{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 40px;
  box-sizing: border-box;
  width: 100%;
}

/* Footer */
footer{
  width: 100%;
  padding: 20px;
  border-top: 1px solid rgb(231 229 228);
  box-sizing: border-box;
  font-size: 12px;
}


/* Phone */
@media only screen and (max-width: 700px) {
  /* Allmänt */
  /* Mobile header */
  header{
    display: none;
  }

  .mobile-header{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    gap: 0;
  }

  .mobile-header ul{
    gap: 10px;
  }
  /* Frontpage */
  .hero-section{
    grid-template-columns: 1fr;
  }
  /* Projekt sida */
  .grid-row:nth-child(odd){
    grid-template-columns: 1fr;
  }
  .grid-row:nth-child(even) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid-row:nth-child(even) .grid-item:nth-child(3) {
    display: none;
  }

  /* Tekniker */
  
  .tekniker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    box-sizing: border-box;
  }

  .tekniker,
  .tekniker2{
    grid-template-columns: 1fr;
    padding: 20px;
    padding-bottom: 0;
  }
  /* Kontakt */
  .contact-page-div-inner{
    grid-template-columns: 1fr;
  }

  .contact-information{
    padding: 0;
    border: none;
  }

  /* About */

  .about-us-outer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about-us{
    padding: 20px;
  }

  /* Footer */
  footer{
    display: flex;
    padding: 10px;
    font-size: 12px;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }


}

/* src/app/globals.css */
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600; /* Adjust as necessary */
  font-style: normal;
}





